* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patua One", serif;
}

.navbar-brand {
  font-size: 2rem;
  color: black;
}

.navbar-brand:hover {
  color: black;
}

.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  text-transform: uppercase;
}

.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  outline: none;
  border: 2px solid green;
}
.btn0 {
  height: 40px;
  width: 40%;
  outline: none;
  border: none;
  background: green;
  color: white;
  border-radius: 60px;
  font-weight: 700;
}

.main {
  background: url("./assets/Pics/dog2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: 50% 50%;
}
h1 {
  font-size: 4rem;
  font-weight: 700;
  color: aliceblue;
}
.btn1 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: green;
  color: aliceblue;
  font-weight: 700;
  border-radius: 60px;
  font-family: "Barlow Semi Condensed", sans-serif;
}
.adopt img,
.foster img,
.sponser img {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Maintain aspect ratio */
}
.adopt:hover,
.foster:hover,
.sponser:hover {
  cursor: pointer;
  border: solid 2px;
  border-radius: 50px;
  border-color: green;
  padding: 5px 5px;
  transition: 0.5 all;
}
h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 4rem;
  font-weight: 900;
  color: aliceblue;
}

h6 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
  margin-top: 20px;
  color: aliceblue;
}

.sucssadoption {
  background: green;
}
.card {
  padding: 10px 10px;
}
.btn2 {
  font-family: "Gloria Hallelujah", cursive;
  background: aliceblue;
  color: green;
  border-radius: 60px;
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 20px;
}
.btn0:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
}
.btn1:hover {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
}
.btn2:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  transition: 0.5s all;
}
.card:hover {
  -webkit-box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.75); /* For WebKit browsers */
  -moz-box-shadow: 0px 0px 31px 0px rgba(0, 0, 0, 0.75); /* For Mozilla browsers */
  box-shadow: 0px 0px 31px 0px #d7f5d7; /* Standard CSS */
  cursor: pointer;
}
h5 {
  margin-top: 20px;
  font-family: "Gloria Hallelujah", cursive;
}
.logo img {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain the aspect ratio */
  max-height: 150px; /* Optional: Set a maximum height to avoid images becoming too tall */
  display: block; /* Ensures images are block-level elements */
  margin: 0 auto; /* Centers the images horizontally */
}
h3 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 50px;
}
.contact {
  background: gray;
}

.news {
  background-color: black;
  color: aliceblue;
}

.news input {
  height: 45px;
  width: 55%;
  border: 2px solid aliceblue;
  outline: none;
  background: black;
  color: aliceblue;
  margin-top: 20px;
  font-weight: 600;
}
.news::placeholder {
  color: aliceblue;
}
.btn3 {
  height: 45px;
  width: 100px;
  background-color: aliceblue;
  margin-left: -10px;
  border: 2px solid aliceblue;
  font-weight: 600;
}

.fab {
  font-size: 2.5rem;
  cursor: pointer;
  padding: 10px 10px;
}

.fab:hover {
  color: green;
  transition: 0.5s all;
}

a {
  color: aliceblue;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
